.card {
  margin: 0.5rem;
  margin-left: 1rem;
  display: flex;
  width: 10rem;

}
.card img {
    margin-right: 0.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}